* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-bottom: 0.5px solid lightgray;
}

nav > ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

nav > ul > li {
  background-color: rgb(234, 240, 242);
  padding: 8px 10px;
  border-radius: 50px;
}

nav > ul > li > a {
  text-decoration: none;
  font-weight: 500;
}

/* Landing Page */

.landing-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.landing-page-info {
  flex: 1;
  padding: 2rem;
  text-align: center;
}

.landing-page-info > h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.landing-page-info > h2 {
  font-size: 1.5rem;
  color: #555555;
}

.landing-page-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page-image > img {
  max-width: 100%;
  height: auto;
}

/* Register and Login Form */

form {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 15px;
  padding: 25px;
  box-shadow: 0 2px 0 #ecf4f9;
  border: 0.5px solid #ecf4f9;
  border-radius: 5px;
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Protected Page */

.login-alert {
  margin: 25px;
}

/* Forms Component */
.forms {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  margin: 0 50px 0 50px;
}

.form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  border: 1px solid rgb(231, 235, 240);
  border-radius: 5px;
  background-color: #fff;
}

.form-title {
  font-size: 36px;
}

/* AddField Component */
.form-content {
  display: flex;
  flex-flow: column;
  align-items: left;
  width: fit-content;
  background-color: aliceblue;
}
